body{
    background-color: #f8f9fa;
    color: #202122;
    font-family: sans-serif;
    font-size: 16px;
}
.kom{
    display: flex;
    margin-top: 1cm;
    text-align: left;
    padding-left: 5.5cm;
    padding-right: 5.5cm;
    
}
.form{
    display:flex;
    padding-left: 5.5cm;
    padding-right: 5.5cm;
}
.bar{
    display:flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    border: 2px solid rgb(223, 35, 35);
    background-color: rgb(223, 35, 35);
    color:#f8f9fa ;
}
.ob1{
    display: flex;
    justify-content: left;

}
.funguj{
    display: flex;
    justify-content: row;
    padding-top: 1cm;
}
.uvod{
    display: flex;
    justify-content: center;
}
.text_dobro{
    display: flex;
    justify-content: left;
    padding-left: 5.5cm;
    padding-right: 5.5cm;
}
.pribeh{
    display: flex;
    justify-content: left;
    padding-left: 5.5cm
}
.rec{
    display: flex;
    justify-content: left;
    padding-left: 5.5cm;
    padding-right: 5.5cm;
}
.sus{
    font-size: 16px;
    border: none;
    background-color: rgb(223, 35, 35);
    display: inline-block;
    text-align: center;
    color: white;
}
.jmenobox{
    height: 20px;
    width: 80px;
}
.zobrazit_recenze{
    font-size: 16px;
    background-color: rgb(223, 35, 35);
    display: inline-block;
    text-align: center;
    color: white;
    padding: 15px 32px;
    border: none;
    margin: 4px 5.5cm;
}
video{
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    margin-top: 0!important;
    padding-right: 0;
    object-fit: fill;
    width: 920px;
    height:640px;
}
.miklajzz{
    margin-left: 2cm;
}
.detail{
    font-size: 16px;
    border: none;
    background-color: rgb(223, 35, 35);
    display: inline-block;
    text-align: center;
    color: white;
    width: 2cm;
    height: 1cm;
}